/packages
*.suo
*.user
/.vs
/TSTool/bin
/TSTool/obj
/PasswordToolsWpf/bin/*
/PasswordToolsWpf/obj/*
/RemoteAppWpf/bin/*
/RemoteAppWpf/obj/*
/SmartCode/SmartCode.Framework/bin/*
/SmartCode/SmartCode.Framework/obj/*
/SmartCode/SmartCode/obj/*
/SmartCode/SmartCode/bin/*
/SmartCode/SmartCode.Tool/obj/*
/SmartCode/SmartCode.Tool/bin/*
/TSToolWPF/bin/*
/TSToolWPF/obj/*


/SmartCode/SmartCode.DocUtils/obj/Debug
/SmartCode/SmartCode.DocUtils/bin/Debug
