/packages
*.suo
*.user
/.vs
/TSTool/bin
/TSTool/obj
/PasswordToolsWpf/bin/*
/PasswordToolsWpf/obj/*
/RemoteAppWpf/bin/*
/RemoteAppWpf/obj/*
/SmartCodeTool/SmartCode.Framework/bin/*
/SmartCodeTool/SmartCode.Framework/obj/*
/SmartCodeTool/SmartCode.Tool/obj/*
/SmartCodeTool/SmartCode.Tool/bin/*
/TSToolWPF/bin/*
/TSToolWPF/obj/*


/SmartCodeTool/SmartCode.DocUtils/obj/Debug
/SmartCodeTool/SmartCode.DocUtils/bin/Debug
