<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="dataBasesConfig" type="SmartCode.Tool.DataBasesConfig,SmartCode.Tool" />
  </configSections>
  <dataBasesConfig>
    <add key="Test-114"  value="server=10.136.0.114;uid=ipsa;Pwd=ipsa@20200705;database=master;"/>
    <add key="Prev-233"  value="server=10.136.0.233;uid=ipsa;Pwd=ipsa@2021;database=master;"/>
  </dataBasesConfig>
  <appSettings>
    <add key="defaultDataBase" value="PSAData"/>
  </appSettings>
</configuration>