using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Test
{
    $if(ClassComment)/// <summary>
    /// $ClassComment
    /// </summary>$end
    public class $ClassName
    {
        $foreach(field in FieldList)
        $if(field.Comment)/// <summary>
        /// $field.Comment
        /// </summary>$end
        public $field.CSharpType $field.DisplayName { get; set; }$end
    }
}
